@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

h1{
        display:center;
        font-family:lato;
}
h2{
    font-family:poiret one;
}
.grid-container{
    background-color:#3578E5;
    display: grid;
    grid-template-rows: auto 800px;
    grid-template-areas:
    'header header header header header header'
    'back back back back back signIn';
}
.header{
    grid-area: header;
    text-align: center;
}
.title{
    display:center;
    color: black;
}

.back{
    grid-area: back; 
    background-image: url("logo.jpeg");
    background-position: center; 
    background-attachment: fixed; 
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container{
    grid-area: signIn; 
    color: black;
    font-size: 20px;
    top:200px;
    left:200px;
    border-radius:10px;
    border-bottom: black;
    background-color: #73a4f1;
    border-style: solid;
    border-color: darkblue;
}

.signUp{
    color: black;
    font-size: 20px;
    position: absolute;
    top:20px;
    left:100px;
}


body{
 background-color:AliceBlue;  
}

.container2 label, .container2 input{
   display:block;
   
}

.container2 h2, .containerSignUp h2{
    text-align: center;
}
.container2 button, .container2  input[type="password"], .container2 input[type="text"]{
    width: 100%;
    box-sizing: border-box;
    margin: 8px 0;
    padding: 14px 20px;
    border-radius: 10px;
    align-self: center;
    color: darkblue;
}
button{
    background-color: #ccd9ee;
    
}
.containerSignUp{
    background-color: #73a4f1;
    border-style: solid;
    border-color: darkblue;

}

/*financialPage*/
.financialControlTitle{
    margin-right:30px;
}
.financialControl{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    
}
/*create Category and transactions*/
.transactions, .category{
    border: 1px solid #77A7FF;
}

/*showTransactions*/
.balance{
    width: 50%;
    font-size: 17px;
    padding: 0;
    margin-left: 15%;
    margin-top: 5%;
}
.showTransaction{
    border: 1px solid #77A7FF;
    box-sizing: border-box;
    width: 50%;
    font-size: 17px;
    padding: 0;
    margin-left: 15%;
}
.filterCategoryTitle{
    box-sizing: border-box;
    width: 100%;
    font-size: 17px;
    padding: 10px;
}
.listTransaction{
    box-sizing: border-box;
    background-color: AliceBlue;
    width: 50%;
    border: 15px solid #77A7FF;
    padding: 0;
    margin-left: 15%;
    display:flex;
}

.listTransaction > div {
    background-color: #f1f1f1;
    width: 300px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.signOut{
    color: black;
    font-size: 20px;
    position: absolute;
    top:20px;
    right:100px;
}
.hello{
        display: inline-block;
        vertical-align: bottom;
        max-width: 0.5rem;
        overflow: hidden;
        animation: showHello 5s ease forwards;
}
    
button:hover{
    background-color: #3578E5;
    font-size: 1rem;
    transition:background-color 2s;
}
@keyframes showHello {
    from {
    max-width: 0.5rem;
    }
    to {
    max-width: 22rem;
    }
}
input[type="submit"]{
        box-sizing: border-box;
        margin: 8px 0;
        padding: 14px 20px;
        border-radius: 10px;
        align-self: center;
            /*Mouse off using transition*/
        transition:background-color .5s;
    }

    input[type="submit"]:hover{
        background-color: #73a4f1;
        /*Mouse on using transition */
        transition:background-color 2s;
    }
    .financial{
        background-color:AliceBlue;
    }
    .filterCategory{
        width:100%;
    }